/******** GLOBAL STYLES ********/
html {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #000000;
}

body{
	font-size: .9em;
}

/* The width property has been changed to max-width */
.content-wrapper {
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

header, .top-section, .bottom-section, footer {
	display: flex;
	justify-content: center;
}

h1,
h2,
h3,
h4 {
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 1.875em;
}

h2 {
	font-size: 1.5em;
	/****padding: 5px 0;****/
}

h3 {
	font-size: 1.25em;
	/***padding: 30px 0;***/
}

h4 {
	font-size: 0.75em;
}

p {
	font-size: 1rem;
	line-height: 36px;
}

/******** HEADER STYLES ********/
/* The widths are in a percentage! */
header {
	text-align: center;
}

header h1 {
	width: 100%;
	margin: 0;
	padding: 38px 0 20px 0;
	border-bottom: 3px solid #77a466;
}

header h1 span {
	color: #45610E;
}

header nav {
	width: 100%;
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 20px 0;
	
}

header nav ul li {
	width: 100%;
	font-size: 0.875rem;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 0;
}

header nav ul li a {
	text-decoration: none;
	color: #45610E;

}

/********  MAIN STYLES ********/
/******** TOP SECTION ********/
/* The widths are in a percentage! */
.main-image img {
	width: 100%;
	border-top: 3px solid #77A466;
	border-bottom: 3px solid #77a466;
}


.main-title h2 {
	color: #45610E;
	padding: 5px 0;
}

/******** BOTTOM SECTION ********/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;

}

.bottom-section .content-wrapper {

}

.section-one,
.section-two,
.section-three {
	/*** box-sizing: border-box; **/
	width: 100%;
	/****padding: 0 40px;****/
	justify-content: flex-start;
}

.section-one {
	width: 100%;
	border-top: 5px solid #EEE;
	border-bottom: 5px solid #EEE;
}

.section-two {
	/**** width: 42%; *****/
}

.section-three {
	/**** width: 29%; *****/
	border-top: 5px solid #EEE;
	border-bottom: 5px solid #EEE;
}

.bottom-section h3 {
	margin: 30px 0;
}

.menu-list {
	padding-left: 0;
	list-style: none;
}

.menu-list li {
	color: #45610E;
	font-size: 1rem;
	line-height: 2.25rem;
}

/******** FOOTER STYLES ********/
/* The widths are in a percentage! */
footer {
	display: flex;
	justify-content: center;
	margin-top: 8px;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #45610E;
	font-size: 0.875rem;
}

/**** tablet styles ****/
@media all and (min-width: 768px) {
	.bottom-section .content-wrapper {
		border-top: 5px solid #EEE;
		border-bottom: 5px solid #eee;
		width: 90%;
		justify-content: space-evenly;
	}

	.section-one, .section-three{
		width: 30%;
		border: none;
	
	}

	.section-two {
		width: 30%;
		padding: 0 30px;
		border-left: 5px solid #eee;
		border-right: 5px solid #eee;
	
	}

}



/**** desktop styles ****/
@media all and (min-width: 1200px) {
	body{
		font-size: 1em;
	}

	header .content-wrapper{
		justify-content: space-between;
		padding: 20px 0;
		align-items: center;
	
	}
	
	header h1 {
		width: 30%;
		padding: 0;
		border-bottom: none;
		text-align: left;

	}


	header nav {
		width: 21%;
	}

	header nav ul {
		display: flex;
		justify-content: space-between;
	}

	
}